body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #F5F2F0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #A2C3E1; /* Barva hlavičky */
    color: #ffff1f;/* Barva textu v hlavičce */
    margin-top: 50px;
    height: 60px;
}

#logo {
    border-radius: 50%;
    overflow: hidden;
    width: 150px; /* Prizpusobte velikost podle potreby */
    height: 150px; /* Prizpusobte velikost podle potreby */
    box-shadow: 1px 1px 4px #000000;
    
}

#logo img {
    width: 101%;
    height: 100%;
margin: -1px;
    object-fit: cover;
}

nav {
    display: flex;
    align-items: center;

}

.menu-icon {
    font-size: 20px;
    cursor: pointer;
    margin-left: 20px;
}

.menu {
    display: none;
    position: absolute;
    top: 60px; /* Vzdálenost menu od hlavičky - upravte podle potřeby */
    right: 20px;
    background-color: #81A0BB; /* Barva menu */
    padding: 10px;
    width: (20%+10px);
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.1);
    
}

.menu a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333; /* Barva odkazů */
}

section {
    margin-top: 100px;
    margin-left: 10%;
}
.menuicon {
    height: 40px;
    width: 37px;
    margin-top: 6px;
}
.closemenu {
margin-left: 90%;
}